<div>
  <h1 class="time-sheet-name">Time Sheet for 1/31/2018</h1>
  <mat-card>
      <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      
  <div class="time-sheet-container">
      <mat-form-field>
          <input matInput placeholder="Input" required>
        </mat-form-field> 
        <mat-form-field>
            <mat-select placeholder="Select">
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>
        
  </div>  
</mat-grid-tile>
<mat-grid-tile>
    <div class="time-sheet-container">
        <mat-form-field>
            <input matInput placeholder="Input" required>
          </mat-form-field> 
          <mat-form-field>
              <mat-select placeholder="Select">
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>
          
    </div>  
</mat-grid-tile>
  </mat-grid-list>
</mat-card>

</div>
