<h3>
  Team Creation
</h3>
<mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Name the team</ng-template>
      <mat-form-field>
        <input matInput placeholder="Team name" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext [disabled]="!firstFormGroup.valid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Describe the team</ng-template>
      <mat-form-field class="add-new-team-description">
        <textarea matInput placeholder="A brief description of the team's responsibilities" formControlName="secondCtrl" required></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext [disabled]="!secondFormGroup.valid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Add team members</ng-template>
    <div class="add-new-team-userList">
      <div *ngFor="let user of userList">
        <mat-slide-toggle class="add-new-team-toggle" (click)="onSelect(user)">{{user.firstName + ' ' + user.lastName}}</mat-slide-toggle>
      </div>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext [disabled]="selectedUsers.length == 0">Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Choose a team leader</ng-template>
    <div class="add-new-team-userList">
      <mat-radio-group class="add-new-team-radio-group" [(ngModel)]="teamLeader">
        <mat-radio-button class="add-new-team-radio-button" *ngFor="let user of selectedUsers" [value]="user">
          {{user.firstName + ' ' + user.lastName}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button [disabled]="teamLeader == null" (click)="onSubmit()">Submit</button>
  </mat-step>
</mat-horizontal-stepper>