<h3>
  Project Creation
</h3>
<mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Name project</ng-template>
      <mat-form-field>
        <input matInput placeholder="Project name" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext [disabled]="!firstFormGroup.valid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Describe Project</ng-template>
      <mat-form-field class="add-new-project-description">
        <textarea matInput placeholder="A brief description of the project" formControlName="secondCtrl" required></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext [disabled]="!secondFormGroup.valid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Choose template</ng-template>
    <div class="add-new-project-template-list">
      <mat-radio-group class="add-new-project-radio-group" [(ngModel)]="selectedTemplate">
        <mat-radio-button class="add-new-project-radio-button" *ngFor="let template of projectTemplates" [value]="template" (change)="onSelectTemplate(template)">
          {{template.name}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext [disabled]="selectedTemplate == null">Next</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Set task hours</ng-template>
    <div>
      <form [formGroup]="workTypeFormGroup">
        <div>
          <table>
            <tr *ngFor="let workType of workTypeControls">
              <td>
                <label>{{workType.key}}:</label>
              </td>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Hours" [formControlName]="workType.key" [id]="workType.key">
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      </form>
    </div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext [disabled]="!workTypeFormGroup.valid" (click)="onTaskSetupComplete()">Next</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Assign members</ng-template>
    <mat-sidenav-container>
      <mat-sidenav mode="side" #timeNav class="add-new-project-sidenav-bar" opened position="end">
        <table class="add-new-project-user-table">
          <tr *ngFor="let userPct of pctUsers">
            <td>{{userPct.user.firstName}}</td>
            <td class="add-new-project-pct-justify">{{userPct.pct}}%</td>
          </tr>
        </table>
      </mat-sidenav>
      <mat-sidenav-content>

        <mat-accordion>
          <mat-expansion-panel *ngFor="let workType of projectTemplateWorkTypes; let index = index" class="add-new-project-workType-pct">
            <mat-expansion-panel-header>
              <mat-panel-title class="project-management-panel-header-title">
                {{workType.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="projectTemplateWorkTypeFormGroup[index]">
              <div *ngFor="">
                <label></label>
                <mat-slider thumbLabel tickInterval="1"></mat-slider>
              </div>
            </form>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-sidenav-content>
    </mat-sidenav-container>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button [disabled]="selectedTemplate == null" (click)="onSubmit()">Submit</button>
  </mat-step>
</mat-horizontal-stepper>