<h3>
  Project Creation
</h3>
<mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Name project</ng-template>
      <mat-form-field>
        <input matInput placeholder="Project name" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext [disabled]="!firstFormGroup.valid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Project Details</ng-template>
      <div class="add-new-project-details-container">
        <mat-form-field class="add-new-project-description">
          <textarea matInput placeholder="A brief description of the project" formControlName="secondCtrl" required></textarea>
        </mat-form-field>
        <mat-form-field class="add-new-project-details-field">
          <input matInput [matDatepicker]="picker" placeholder="Date project start">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="add-new-project-details-field">
          <input matInput placeholder="Percent team time" required>
          <span matSuffix>%</span>
        </mat-form-field>
        <div>
          Choose a Color:
          <button mat-mini-fab [ngStyle]="{'background-color' : projectColor}"></button>
        </div>
        <mat-grid-list cols="3" rowHeight="50" class="add-new-project-details-field">
          <mat-grid-tile *ngFor="let color of colors">
            <button mat-mini-fab [ngStyle]="{'background-color' : color.color}" (click)="onColorClick(color.color)"></button>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext [disabled]="!secondFormGroup.valid">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Choose template</ng-template>
    <div class="add-new-project-template-list">
      <mat-radio-group class="add-new-project-radio-group" [(ngModel)]="selectedTemplate">
        <mat-radio-button class="add-new-project-radio-button" *ngFor="let template of projectTemplates" [value]="template" (change)="onSelectTemplate(template)">
          {{template.name}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext [disabled]="selectedTemplate == null">Next</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Set task times</ng-template>

    <mat-radio-group class="add-new-project-radio-group" [(ngModel)]="selectedTimeFrame">
      Choose units of time (ex. man hours):
      <mat-radio-button class="add-new-project-radio-button" value="hours">
        Hours
      </mat-radio-button>
      <mat-radio-button class="add-new-project-radio-button" value="days">
        Days
      </mat-radio-button>
      <mat-radio-button class="add-new-project-radio-button" value="weeks">
        Weeks
      </mat-radio-button>
      <mat-radio-button class="add-new-project-radio-button" value="months">
        Months
      </mat-radio-button>
    </mat-radio-group>
    <div>
      <form [formGroup]="workTypeFormGroup">
        <div>
          <table>
            <tr *ngFor="let workType of workTypeControls">
              <td>
                <label>{{workType.key}}:</label>
              </td>
              <td>
                <mat-form-field>
                  <input matInput placeholder="time" [formControlName]="workType.key" [id]="workType.key">
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      </form>
    </div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext [disabled]="!workTypeFormGroup.valid" (click)="onTaskSetupComplete()">Next</button>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Assign members</ng-template>
    <mat-sidenav-container >
      <mat-sidenav mode="side" #timeNav class="add-new-project-sidenav-bar" opened position="end">
        <table class="add-new-project-user-table">
          <tr *ngFor="let userPct of pctUsers">
            <td>{{userPct.user.firstName}}</td>
            <td class="add-new-project-pct-justify">{{userPct.pct}}%</td>
          </tr>
        </table>
      </mat-sidenav>
      <mat-sidenav-content class="add-new-project-work-pct-container">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let workType of projectTemplateWorkTypeFormGroups; let index = index" class="add-new-project-workType-pct">
            <mat-expansion-panel-header>
              <mat-panel-title class="project-management-panel-header-title">
                {{workType.workName}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="workType.group">
              <table>
                <tr *ngFor="let slider of workType.sliderControls">
                  <td>
                    <label>{{slider.user.firstName}} {{slider.user.lastName}}</label>
                  </td>
                  <td>
                    <mat-slider [formControlName]="slider.user.userId" thumbLabel (change)="onSliderChange(workType.group, slider)" tickInterval="1"></mat-slider>
                  </td>
                </tr>
              </table>
            </form>
            <p>Form value: {{ workType.group.value | json }}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-sidenav-content>
    </mat-sidenav-container>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button [disabled]="selectedTemplate == null" (click)="onSubmit()">Submit</button>
  </mat-step>
</mat-horizontal-stepper>