.add-new-project-description {
    width:350px;
}

.add-new-project-radio-group {
    display: inline-flex;
    flex-direction: column;
  }

  .add-new-project-toggle {
    margin: 5px;
  }
  
  .add-new-project-radio-button {
    margin: 5px;
  }

  .add-new-project-template-list {
    margin: 5px;
    padding: 5px;
    height: 250px;
    overflow-y: auto;
  }

  .add-new-project-spacer {
    flex: 1 1 auto;
  }

  .add-new-project-top-button {
    display: flex;
    flex-direction: row;
  }

  .add-new-project-sidenav-container {
    flex: 1;
  }

  .add-new-project-sidenav-bar{
    width: 150px;
  }

  .add-new-project-workType-pct {
    margin: 5px;
  }

  .add-new-project-pct-justify {
    text-align: right
  }

  .add-new-project-user-table {
    width: 100%
  }

  .add-new-project-details-container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    height: 250px;
    overflow-y: auto;
  }

  .add-new-project-details-field {
    max-width: 200px;
  }

  .add-new-project-work-pct {
    max-width: 400px;
  }

  .add-new-project-work-pct-container {
    display: flex;
    flex-direction: column;
    height: 250px;
    overflow-y: auto;
  }