<div class="team-management-container">
  <mat-card>
    <mat-card-title>
      <div class="team-management-title">Projects
        <span class="team-management-spacer"></span>
        <button mat-mini-fab color="primary" (click)="addNewTeam()">
          <mat-icon aria-label="Icon to add new team">add</mat-icon>
        </button>
      </div>
    </mat-card-title>
    <mat-card-subtitle>The list of projects for team </mat-card-subtitle>
    <mat-card-content>
      <mat-accordion *ngIf="!this.loading && this.projects.length > 0">
        <mat-expansion-panel *ngFor="let project of projects; let index = index">
          <mat-expansion-panel-header>
            <mat-panel-title class="team-management-panel-header-title">
              {{team.name}} Team
            </mat-panel-title>
            <mat-panel-description class="team-management-panel-header-description">
              <div>
                {{team.description}}
              </div>
              <mat-icon aria-label="Icon to edit a team" (click)="onEdit($event, team)">edit</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-table #table [dataSource]="dataSourceArray[index]">

            <!-- Position Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="role">
              <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.role}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>


        </mat-expansion-panel>
      </mat-accordion>
      <div *ngIf="this.loading" class="team-management-loading">
        <div>
          <mat-spinner></mat-spinner>
        </div>
        <div class="team-management-loading-text">Loading.....</div>
      </div>
      <div *ngIf="!this.loading && this.teams.length == 0">
        There are no projects for this team. Click the '+' button to create a project.
      </div>
    </mat-card-content>
  </mat-card>
</div>
